@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* font-family: 'Roboto', sans-serif; */

:root {
  --primary: #00afef;
  --darkest: #00131a;
  --dark: #003345;
  --mid: #00526f;
  --light: #00719a;
  --lightest: #0090c4;
  --alt-white: #f0f7fe;
  --shadow-small: 2pt 2pt 2pt rgba(0, 19, 26, 0.5);
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 48px;
  letter-spacing: -4px;
  font-weight: bold;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  position: relative;
  text-align: end;
  font-size: 16pt;
}

.logo img {
  padding: 16pt;
  width: 140pt;
  height: auto;
}

.burger-btn {
  position: absolute;
  top: 30pt;
  right: 16pt;
  width: 30pt;
  height: 30pt;
  z-index: 1;
  background-color: var(--dark);
  border: none;
}

.bi-list {
  color: #fff;
  font-size: 18pt;
}

.navbar-list-items.hidden {
  display: none;
}

.navbar-list-items {
  position: absolute;
  top: 40pt;
  right: 8pt;
  list-style: none;
  width: 50%;
  margin-right: -16pt;
  height: 100vh;
  background-color: var(--dark);
  z-index: 1;
}

.list-item {
  margin-top: 16pt;
}

.list-item a {
  margin-right: 24pt;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.hero-image {
  position: relative;
  background: url("images/digitalprinting.jpg") center center/cover;
  width: 100vw;
  height: 200pt;
}

.hero-text {
  position: absolute;
  font-weight: bold;
  color: #fff;
  top: 30pt;
  left: 8pt;
}

.gradient {
  background: linear-gradient(rgba(0, 19, 26, 0.2), rgba(0, 19, 26, 1));
  width: 100%;
  height: 200pt;
  position: relative;
}

.products-container {
  padding: 34px;
}

.products-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16pt;
}

.product-item {
  border-radius: 4pt;
  width: 100%;
  height: 150pt;
  position: relative;
}

.product-item p {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 8pt;
  background-color: var(--dark);
  padding: 4pt;
  box-shadow: var(--shadow-small);
}

.item-1 {
  background: url("https://images.pexels.com/photos/6812443/pexels-photo-6812443.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    center center/cover;
}

.item-2 {
  background: url("https://images.pexels.com/photos/9651158/pexels-photo-9651158.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    center center/cover;
}

.item-3 {
  background: url("https://images.pexels.com/photos/669612/pexels-photo-669612.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    center center/cover;
}

.item-4 {
  background: url("https://images.pexels.com/photos/6430730/pexels-photo-6430730.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    center center/cover;
}

.item-5 {
  background: url("https://images.pexels.com/photos/4544716/pexels-photo-4544716.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    center center/cover;
}

.item-6 {
  background: url("https://images.pexels.com/photos/7265926/pexels-photo-7265926.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    center center/cover;
}

.item-7 {
  background: url("https://images.pexels.com/photos/6373292/pexels-photo-6373292.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    center center/cover;
}

.item-8 {
  background: url("https://images.pexels.com/photos/5386754/pexels-photo-5386754.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    center center/cover;
}

.btn {
  background-color: var(--primary);
  border: none;
  width: 100%;
  padding: 8pt;
  border: 4pt;
  color: #fff;
  font-size: 18pt;
  cursor: pointer;
}

.products-btn {
  margin: 32pt 0;
  margin-left: 50%;
  transform: translateX(-50%);
}

.ideas {
  background: url("https://images.pexels.com/photos/826349/pexels-photo-826349.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    center center/cover;
  width: 100vw;
  height: 300pt;
  position: relative;
  margin-left: -26pt;
}

.ideas-gradient {
  width: 100vw;
  height: 300pt;
}

.ideas h1 {
  color: #fff;
  position: absolute;
  top: 48pt;
  left: 8pt;
}

.ideas p {
  color: #fff;
  line-height: 1.8;
  position: absolute;
  top: 140pt;
  left: 8pt;
  width: 80%;
}

.contact-btn {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  margin: 32pt 0;
}

.badges {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.badge {
  width: 250pt;
  border-radius: 4pt;
  margin: 8pt;
  padding: 8pt;
  font-size: 15px;
}

.badge h4 {
  margin-bottom: 8pt;
}

.badge p {
  margin: 0;
  line-height: 1.8;
}

.about {
  padding: 24pt;
  margin: 0;
  background-color: var(--alt-white);
}

.about h1 {
  margin: 0;
}

.about p {
  margin: 0;
  line-height: 1.8;
}

.about-btn {
  margin: 32pt 0;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 80%;
}

.customers-container {
  margin: 32pt 0;
}

.customers-container h1 {
  margin-left: 8pt;
}

.customer-grid {
  margin: 0;
  padding: 16pt;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 8pt;
}

.grid {
  background-color: var(--dark);
  width: 100%;
  height: 100pt;
}

.grid-item-1 {
  background: url("images/logo_1.png") center center/cover;
}

.grid-item-2 {
  background: url("images/logo_2.png") center center/cover;
}

.grid-item-3 {
  background: url("images/logo_3.png") center center/cover;
}

.grid-item-4 {
  background: url("images/logo_4.png") center center/cover;
}

.grid-item-5 {
  background: url("images/logo_5.png") center center/cover;
}

.grid-item-6 {
  background: url("images/logo_6.png") center center/cover;
}

.grid-item-7 {
  background: url("images/logo_7.png") center center/cover;
}

.grid-item-8 {
  background: url("images/logo_8.png") center center/cover;
}

.grid-item-9 {
  background: url("images/logo_9.png") center center/cover;
}

.hidden-item {
  display: none;
}

footer {
  margin-top: 32pt;
  padding: 48pt;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--alt-white);
}

.container-footer-1 {
  display: flex;
  font-size: 28pt;
  margin: 0;
}

.container-footer-1 .bi {
  margin: 16pt;
}

.container-footer-2 {
  display: flex;
  margin: 0;
}

.container-footer-2 p a {
  margin: 4pt;
}

.container-footer-3 {
  margin: 0;
  font-size: 8pt;
  text-align: center;
  line-height: 1.8;
}

@media screen and (min-width: 376px) {
  h1 {
    font-size: 96px;
    letter-spacing: -6px;
  }

  .navbar {
    justify-content: baseline;
  }

  .logo img {
    margin-top: 16pt;
    margin-left: 24pt;
    width: 30vw;
  }

  .navbar-list-items.hidden {
    display: flex;
    background: none;
    float: right;
    justify-content: end;
  }

  .product-item p {
    font-size: 22pt;
    font-weight: bold;
    padding: 8pt;
  }

  .list-item a {
    margin: 4pt;
    background-color: transparent;
    padding: 4pt;
    color: var(--darkest);
    float: right;
    border-bottom: 2px solid var(--darkest);
  }

  .list-item a:hover {
    color: #fff;
    border-bottom: 2px solid transparent;
    background-color: var(--darkest);
    padding: 4pt;
  }

  .burger-btn {
    display: none;
  }

  .gradient {
    height: 300pt;
  }

  .hero-image {
    height: 300pt;
  }

  .product-item {
    height: 300pt;
  }

  .ideas {
    height: 300pt;
  }

  .ideas h1 {
    top: 24pt;
  }

  .about p {
    font-size: 24px;
    padding: 32pt 48pt;
  }

  .badges {
    padding: 32pt;
    display: flex;
    flex-direction: row;
  }

  .badge {
    height: 220pt;
    padding: 16pt;
    border: 2px solid var(--mid);
  }

  .grid {
    background-size: contain;
    background-repeat: no-repeat;
  }

  .customers-container {
    padding: 0 32pt;
  }

  .customers-container h1 {
    font-size: 84px;
  }

  .customer-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .customer-gradient {
    background-color: rgba(0, 19, 26, 0.2);
    width: 101%;
    height: 101%;
    transition: background-color 0.5s ease-in-out;
  }

  .customer-gradient:hover {
    background-color: transparent;
    width: 101%;
    height: 101%;
  }

  .hidden-item {
    display: block;
  }

  .container-footer-1 {
    font-size: 32pt;
  }

  .container-footer-2 {
    font-size: 18pt;
  }

  .container-footer-2 p a {
    margin: 8pt;
  }

  .container-footer-3 {
    font-size: 18pt;
  }
}
