@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* font-family: 'Roboto', sans-serif; */

:root {
  --primary: #00afef;
  --darkest: #00131a;
  --dark: #003345;
  --mid: #00526f;
  --light: #00719a;
  --lightest: #0090c4;
  --alt-white: #d5ebf2;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 28px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  position: relative;
  text-align: end;
  font-size: 16pt;
}

.logo img {
  padding: 16pt;
  width: 140pt;
  height: auto;
}

.burger-btn {
  position: absolute;
  top: 30pt;
  right: 16pt;
  width: 20pt;
  height: 20pt;
  z-index: 1;
  background-color: var(--alt-white);
  border: none;
}

.navbar-list-items.hidden {
  display: none;
}

.navbar-list-items {
  position: absolute;
  top: 40pt;
  right: 8pt;
  list-style: none;
  width: 80%;
  margin-right: -16pt;
  height: 100vh;
  background-color: var(--dark);
  z-index: 1;
}

.list-item {
  margin-top: 16pt;
}

.list-item a {
  margin-right: 24pt;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.hero-image {
  background: url("images/digitalprinting.jpg") center center/cover;
  width: 100vw;
  height: 150pt;
}

.hero-text {
  font-weight: bold;
  padding: 24pt;
  font-size: 32pt;
  color: #fff;
}

.products-container {
  padding: 16pt;
}

.products-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8pt;
}

.product-item {
  border-radius: 4pt;
  width: 100%;
  height: 150pt;
  position: relative;
}

.product-item p {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 8pt;
  background-color: var(--dark);
  padding: 4pt;
}

.item-1 {
  background: url("https://images.pexels.com/photos/6812443/pexels-photo-6812443.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    center center/cover;
}

.item-2 {
  background: url("https://images.pexels.com/photos/9651158/pexels-photo-9651158.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    center center/cover;
}

.item-3 {
  background: url("https://images.pexels.com/photos/669612/pexels-photo-669612.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    center center/cover;
}

.item-4 {
  background: url("https://images.pexels.com/photos/6430730/pexels-photo-6430730.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    center center/cover;
}

.item-5 {
  background: url("https://images.pexels.com/photos/4544716/pexels-photo-4544716.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    center center/cover;
}

.item-6 {
  background: url("https://images.pexels.com/photos/7265926/pexels-photo-7265926.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    center center/cover;
}

.item-7 {
  background: url("https://images.pexels.com/photos/6373292/pexels-photo-6373292.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    center center/cover;
}

.item-8 {
  background: url("https://images.pexels.com/photos/5386754/pexels-photo-5386754.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    center center/cover;
}

.products-btn {
  margin-top: 8pt;
  margin-left: 50%;
  transform: translateX(-50%);
  background-color: var(--primary);
  border: none;
  width: 100%;
  padding: 8pt;
  border: 4pt;
  color: #fff;
  font-size: 18pt;
}

.ideas {
  background: url("https://images.pexels.com/photos/826349/pexels-photo-826349.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    center center/cover;
  width: 100vw;
  height: 150pt;
  margin-left: -16pt;
}

.ideas h1 {
  color: #fff;
}

.ideas p {
  color: #fff;
  line-height: 1.8;
}

.badges {
  padding-right: 40pt;
  margin: 0;
}

.badge {
  border: 1px solid var(--lightest);
  border-radius: 4pt;
  margin: 8pt;
  padding: 8pt;
}

.badge h4 {
  margin-bottom: 8pt;
}

.badge p {
  margin: 0;
  line-height: 1.8;
}

.about {
  padding: 16pt;
  margin: 0;
}

.about h1 {
  margin: 0;
}

.about p {
  margin: 0;
  line-height: 1.8;
}

.about-btn {
  margin-left: 50%;
  transform: translateX(-50%);
  background-color: var(--primary);
  border: none;
  padding: 8pt;
  border: 4pt;
  color: #fff;
  font-size: 18pt;
}

.customers-container h1 {
  margin: 0;
  padding: 16pt;
}

.customer-grid {
  margin: 0;
  padding: 16pt;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8pt;
}

.grid {
  background-color: var(--dark);
  width: 100%;
  height: 100pt;
}

.grid-item-1 {
  background: url("images/logo_1.png") center center/cover;
}

.grid-item-2 {
  background: url("images/logo_2.png") center center/cover;
}

.grid-item-3 {
  background: url("images/logo_3.png") center center/cover;
}

.grid-item-4 {
  background: url("images/logo_4.png") center center/cover;
}

.grid-item-5 {
  background: url("images/logo_5.png") center center/cover;
}

.grid-item-6 {
  background: url("images/logo_6.png") center center/cover;
}

footer {
  padding: 40pt;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-footer-1 {
  display: flex;
  font-size: 28pt;
  margin: 0;
}

.container-footer-1 .bi {
  margin: 16pt;
}

.container-footer-2 {
  display: flex;
  margin: 0;
}

.container-footer-2 p a {
  margin: 8pt;
}

.container-footer-3 {
  margin: 0;
  font-size: 8pt;
  text-align: center;
  line-height: 1.8;
}

@media screen and (min-width: 375px) {
  .navbar {
    justify-content: baseline;
  }

  .logo img {
    margin-top: 16pt;
    margin-left: 24pt;
    width: 30vw;
  }

  .navbar-list-items.hidden {
    display: flex;
    background: none;
    float: right;
    justify-content: end;
  }

  .list-item a {
    color: var(--darkest);
    float: right;
  }

  .burger-btn {
    display: none;
  }

  .hero-image {
    height: 300pt;
  }

  .product-item {
    height: 300pt;
  }

  .ideas {
    height: 300pt;
  }

  .badges {
    display: flex;
  }

  .grid {
    height: 300pt;
  }

  .customer-grid {
    grid-template-columns: 1fr;
  }

  .container-footer-1 {
    font-size: 32pt;
  }

  .container-footer-2 {
    font-size: 18pt;
  }

  .container-footer-3 {
    font-size: 18pt;
  }
}
